.header-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 40px;
    background-color: RGB(244, 188, 132);

    img {
      width: 80%;
    }

    .menu {
      color: #fff;
      font-size: 16px;

      span {
        cursor: pointer;

        &:hover {
          color: rgb(230, 120, 23)
        }
      }
    }
    
  }

