.footer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  background-color: rgb(244, 188, 132);
  font-size: 14px;
  color: #fff;
}

a {

  img {
    width: 25px;
    height: 25px;
    cursor: pointer;
  }

  &:not(:last-child) {
    margin-right: 10px;
  }
}