@import "../styles.scss";

#main-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;

  .body-container {
    display: flex;
    flex: 1;
  }
}