$orange: rgb(230, 120, 23);
$bcGray: rgb(222, 220, 222);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Geneva, Arial, Helvetica, sans-serif;
}

body {
  background-color: $bcGray;
}
